Package: com.mpiannucci.shhhecrets
Name: shhhecrets
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Password protect your messages from unauthorized eyes
Maintainer: Matthew Iannucci
Author: Matthew Iannucci
Section: Tweaks
